<a href="https://colab.research.google.com/github/OmkarSK23/Python/blob/main/Lists_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What are Lists?

A list is a data structure used to store multiple values or items of different data Type in one variable.


**Key concepts**


*   Indexing (positive & negative)

*   Slicing

*   Adding/removing elements

*   Iteration

*   Time complexity (access vs insert)

**Creating a List**

In [43]:
alphanum = ['A',1,'B',2,True,3.0,False, 4, None,]
print(alphanum)

['A', 1, 'B', 2, True, 3.0, False, 4, None]

In [44]:
print(type(alphanum))

<class 'list'>

Indexing in Python lists is the process of accessing elements of a list using their position number (index).

Python uses zero-based indexing, meaning the first element is accessed using index 0.

In [45]:
#Indexing

print(alphanum[0])
print(alphanum[-1])

A
None

In [46]:
print(type(alphanum[0]))

<class 'str'>

In [47]:
# Finding the type of each item in List

for i in range(len(alphanum)):
  print(type(alphanum[i]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'NoneType'>

In [48]:
# Creating a Matrix

matrix = [
    ['Apple','Banana','Pine Apple'],
    [100, 150, 300],
    [True, False, None]
]
print(matrix)

[['Apple', 'Banana', 'Pine Apple'], [100, 150, 300], [True, False, None]]

In [49]:
print(type(matrix))

<class 'list'>

In [50]:
# Accessing the item from the creating nested List Matrix

print(matrix[1][-1])

300

In [51]:
print(matrix[-1][2])

None

In [52]:
print(matrix[0][1])

Banana

In [53]:
print(matrix[0][2])

Pine Apple

**List Unpacking**

In [54]:
person = ['Omkar', 25, 'AIML Engineer', 'Norway', '2027']
seq = [10,20,30,40,50,60,70,80,90,100]

# For unpacking all the list items
Name,Age,Role, country, YOJ = person
print(Name,Age,Role,country)

# in case of seq i want only 1st and last item then
print('*************************************************')
first_element, *others, last_element = seq
print(first_element)
print(others)
print(last_element)
print('*************************************************')
# If i dont want some items not to be added to variable and var to be created for other vals
first_ele, *_, last_ele = seq
print(first_ele)
print("No Variable is created in Memory -->",_)
print(last_ele)

Omkar 25 AIML Engineer Norway
*************************************************
10
[20, 30, 40, 50, 60, 70, 80, 90]
100
*************************************************
10
No Variable is created in Memory --> [20, 30, 40, 50, 60, 70, 80, 90]
100

**Creating a Nested List aka Matrix and Accessing elements using Slicing**

In [55]:
names = [
    ['a','b','c'],
    ['d','e','f'],
    ['g','h','i']
]
names

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

In [56]:
# If i want to access the last two items

print(names[1:])

[['d', 'e', 'f'], ['g', 'h', 'i']]

In [57]:
# If I want to access the element of last two of 3rd row
print(names[:2][:1])

[['a', 'b', 'c']]

In [58]:
# Analysis of List

print("All operation:",all([1,0,'A']))
# Because All elements should be non Zero
print('All operation:',all(['','A',0]))
# False Because Even space is considered as Zero
print('All Operation:',all([1,True, 'A']) )
# True Because all elements are non- zeroes

All operation: False
All operation: False
All Operation: True

In [59]:
# any() function
# Any one is true is enough to return true
print('Any Operation:',any([1,0,'']))

Any Operation: True

In [60]:
#List Operations
'''
Functions/Methods Used are:
.append()
.insert()
'''

'\nFunctions/Methods Used are:\n.append()\n.insert()\n'

In [61]:
# append method can be used where if any item has to be added to a List so by which it will be appended at last position.

a = ['a','b','c','x','y','z']
a.append('A')
print(a)

['a', 'b', 'c', 'x', 'y', 'z', 'A']

In [62]:
# Insert method can be used if any item has to be added at specific location.

a = ['a','b','c','x','y','z']
a.insert(2,'B')
print(a)

['a', 'b', 'B', 'c', 'x', 'y', 'z']

In [63]:
# Now lets used append and insert method on Matrix
# here the append and insert method is used to increase or decrease the rows..
# But here we are unable to append or insert the item in any one of the row existing

alphnum = [
    ['a','b','c'],
    [1,2,3],
    ['A','B','C']
]

alphnum.append(['X','Y','Z'])
alphnum.insert(0,['M','N','O'])
print(alphnum)

[['M', 'N', 'O'], ['a', 'b', 'c'], [1, 2, 3], ['A', 'B', 'C'], ['X', 'Y', 'Z']]

In [64]:
# Now the Row 0 and Row 1 is accessed.

alphnum[0].append(['X','Y','Z'])
alphnum[1].insert(0,['M','N','O'])
print(alphnum)

[['M', 'N', 'O', ['X', 'Y', 'Z']], [['M', 'N', 'O'], 'a', 'b', 'c'], [1, 2, 3], ['A', 'B', 'C'], ['X', 'Y', 'Z']]

In [65]:
# Example:

alphnum[0].append('P')
alphnum[1].insert(0,'P')
print(alphnum)

[['M', 'N', 'O', ['X', 'Y', 'Z'], 'P'], ['P', ['M', 'N', 'O'], 'a', 'b', 'c'], [1, 2, 3], ['A', 'B', 'C'], ['X', 'Y', 'Z']]

In [66]:
# Deletion Operation for List & Matrix
'''
Methods used here are:
.clear() --> clears all the data from a List
.remove() --> Removes the items specified  (Works by Value)
.pop() --> Pops out the specified index item if not specified.
By default .pop() method pops the last item and also it does return the item which is popped out.
'''
# using clear() method
Fruits = ['Pine Apples','Mango','Bitterguard','Orange','Banana']
Fruits.clear()
Fruits

[]

In [67]:
# using remove method
Fruits = ['Pine Apples','Mango','Bitterguard','Orange','Banana']

Fruits.remove('Bitterguard')
Fruits

['Pine Apples', 'Mango', 'Orange', 'Banana']

In [68]:
# using pop method

Fruits = ['Pine Apples','Mango','Bitterguard','Orange','Banana']
Fruits.remove('Bitterguard')
Fruits.pop(2)

'Orange'

In [69]:
# Nested List or Matrix Form
# Remove operation including accessing row and excluding row
Brands = [
     ['Mercedes-Benz','Tata Motors','BMW'],
     ['KIA','Volvo','Honda'],
     ['Hyundai','Ford','Maruti Suzuki']
 ]

Brands.remove(['Hyundai','Ford','Maruti Suzuki'])
Brands[1].remove('KIA')

print(Brands)

[['Mercedes-Benz', 'Tata Motors', 'BMW'], ['Volvo', 'Honda']]

In [70]:
# pop operation on Matrix

Brands = [
     ['Mercedes-Benz','Tata Motors','BMW'],
     ['KIA','Volvo','Honda'],
     ['Hyundai','Ford','Maruti Suzuki']
 ]

Brands.pop()

['Hyundai', 'Ford', 'Maruti Suzuki']

In [71]:
Brands.pop(1)

['KIA', 'Volvo', 'Honda']

In [72]:
Brands[0].pop(1)

'Tata Motors'

In [73]:
Brands

[['Mercedes-Benz', 'BMW']]

**Sorting Operation in list**

Methods used here are
  * sort()
  * sorted()
  * reverse()

In [74]:
letters = ['c','k','b','a']

# sort with no args means ascending order
letters.sort()
print(letters)

['a', 'b', 'c', 'k']

In [75]:
# For Descending the order pass the args as reverse = True

letters.sort(reverse = True)
print(letters)

['k', 'c', 'b', 'a']

In [76]:
# Lets try the same with our matrix

matrix = [
    ['d','e','f'],
    ['g','h','i'],
    ['a','b','c']
]

matrix.sort()
print(matrix)

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

In [77]:
# Let's try with some other example

# Lets try the same with our matrix

matrix = [
    ['d','e','f'],
    ['a','z','i'],
    ['a','a','c']
]

matrix.sort()
print(matrix)

#Here we can see as python figures out as the 1st element of both the row are a it moves to the next element compares and decides.

[['a', 'a', 'c'], ['a', 'z', 'i'], ['d', 'e', 'f']]

In [78]:
# Let's try with some other example

# Lets try the same with our matrix

matrix = [
    ['d','e','f'],
    ['a','a','c'],
    ['a','a','i']
]

matrix.sort()
print(matrix)
# Here 3rd element of 2nd and 3rd row i and c are compared as per that they are sorted.

[['a', 'a', 'c'], ['a', 'a', 'i'], ['d', 'e', 'f']]

In [79]:
# Now lets try with accessing each row and sort the list

matrix = [
    ['f','a','d'],
    ['z','q','s'],
    ['a','a','i']
]
matrix[0].sort(reverse = True)
matrix[1].sort()
print(matrix)

[['f', 'd', 'a'], ['q', 's', 'z'], ['a', 'a', 'i']]

In [80]:
# Now lets try with accessing each row and sort the list

matrix = [
    ['f','a','d'],
    ['z','q','s'],
    ['a','a','i']
]
sorted(matrix[0],reverse = True)
sorted(matrix[1])
print(matrix)

[['f', 'a', 'd'], ['z', 'q', 's'], ['a', 'a', 'i']]

In [81]:
# Reverse Method
num = [5,7,23,25,1,6]
# num.reverse() --> Method
num1 = reversed(num)
# we get <list_reverseiterator at 0x7c0829de8100> because it is in iterator form
# Suugestion to convert back to List
print(list(num1)) # Function used for copy

[6, 1, 25, 23, 7, 5]

**Copy in List or Python**

* Shallow Copy or uses method .copy() and makes an entire copy of Original.
* deep copy or uses

In [82]:
# Shallow Copy Example:
matrix = [
    ['a','b'],
    ['c','d']
]

mat_copy = matrix.copy()# can also use copy.copy() method from Module Copy.
matrix.pop()
mat_copy[0].append('A')
mat_copy[1].append('C')
print('Original:',matrix)
print('Copy....:',mat_copy)

Original: [['a', 'b', 'A']]
Copy....: [['a', 'b', 'A'], ['c', 'd', 'C']]

In [83]:
# Deep copy Example:
# Here all layers are Independent not shared in Deeper level like Shallow Copy

import copy
matrix_1= [
    ['a','b'],
    ['c','d']
]

mat_cop = copy.deepcopy(matrix_1)
print('Original:',matrix_1)
print('Copy....:',mat_cop)
print('********************************')
matrix_1.pop()
mat_cop.append(['e','f'])
print('After Changes made in List')
print('Original:',matrix_1)
print('Copy....:',mat_cop)

Original: [['a', 'b'], ['c', 'd']]
Copy....: [['a', 'b'], ['c', 'd']]
********************************
After Changes made in List
Original: [['a', 'b']]
Copy....: [['a', 'b'], ['c', 'd'], ['e', 'f']]

In [84]:
#extend method way of Combining a List with other

list1 = [2,4,6,8,10]
list2 = ['a','c','e','g','i']
list1.extend(list2)

print(list1)
print(list(zip(list1,list2)))

[2, 4, 6, 8, 10, 'a', 'c', 'e', 'g', 'i']
[(2, 'a'), (4, 'c'), (6, 'e'), (8, 'g'), (10, 'i')]

In [85]:
# Combining of Lists

alph = ['a','o','z']
nums = [1,2,3]
combo_1 = alph + nums
combo_2 = [alph, nums]
# |combo_1
combo_2

[['a', 'o', 'z'], [1, 2, 3]]

In [86]:
# Extension of List using .extend() method

alph.extend(nums)
alph

['a', 'o', 'z', 1, 2, 3]

In [87]:
# or vice-versa

alph = ['a','o','z']
nums = [1,2,3]
nums.extend(alph)
nums

[1, 2, 3, 'a', 'o', 'z']

In [88]:
# Zip function

list1 = ['a','b','c']
list2 = [1,2,3]

Combo = zip(list1,list2)
print(list(Combo))

[('a', 1), ('b', 2), ('c', 3)]

In [89]:
# Example for Combination

ids = [100,101,102,103,104]
Employee_names = ['Omkar','Anand','Pratik','Ajay','Arun']

print(list(zip(ids,Employee_names)))

[(100, 'Omkar'), (101, 'Anand'), (102, 'Pratik'), (103, 'Ajay'), (104, 'Arun')]

**Iterators & Iterables.**

Both may sound same but working is different.
* An Iterable is any object you can loop over (like a list, tuple, or string)
* Iterator is the helper object that actually performs the iteration, keeping track of the current position and returning items one by one

Iterators are generally used in Big Data Pipelines.
* Like Kafka --> Iterator[Transform Function] --> Code for Control

In [90]:
#Example for Iterable

letters = ['Tennis','Ball','Cricket']
for l in letters:
  print(l)

# Boolean, Integers are non Iterable leads to an error.

Tennis
Ball
Cricket

In [91]:
word = 'Tennis'
for w in word:
  print(w)

T
e
n
n
i
s

In [92]:
# If we try the same with numbers or Boolean Error.

a = True
b = 2301
for i,j in zip(a,b):
  print(i,j)

TypeError: 'bool' object is not iterable

In [93]:
# Example for Iterator.

letters = ['m','n','o','p']
new_list = []

for l in letters:
  new_list.append(l.upper())
  print(new_list)

['M']
['M', 'N']
['M', 'N', 'O']
['M', 'N', 'O', 'P']

In [94]:
# Iterator -- Enumerate
# Built-in Func returns the item with its index value

Pgm_lng = ['C','Java','Python','Scala']
print(list(enumerate(Pgm_lng)))
# If wanted the index to start from 1
print(list(enumerate(Pgm_lng,start = 1)))

[(0, 'C'), (1, 'Java'), (2, 'Python'), (3, 'Scala')]
[(1, 'C'), (2, 'Java'), (3, 'Python'), (4, 'Scala')]

In [95]:
#Enumerate Continued..
pgm_lng = ['C','Java','Python','Scala']

for index,value in enumerate(pgm_lng):
  print(index,value)

0 C
1 Java
2 Python
3 Scala

In [96]:
# Iterator with Reversed function

sent = 'Iam a King!'
print(list(reversed(sent)))

letters = ['d','e','f','g']
print(list(reversed(letters)))

['!', 'g', 'n', 'i', 'K', ' ', 'a', ' ', 'm', 'a', 'I']
['g', 'f', 'e', 'd']

In [97]:
# zip function iterator

ids = [101,102,103,104,105]
Employees = ['Omkar','Pratik','Ajay','Arun','Pallavi']

for ids,Employees in zip(ids,Employees):
  print(ids,Employees)

101 Omkar
102 Pratik
103 Ajay
104 Arun
105 Pallavi

In [98]:
#map function as an Iterator

'''syntax : map(function,iterable)'''
letters = ['a','b','c','d']
print(list(map(str.upper,letters)))

['A', 'B', 'C', 'D']

In [99]:
# List Comprehension
num = [1,2,3,4,5]
square = [n * n for n in num]
print(square)

[1, 4, 9, 16, 25]

In [100]:
# Example: But sorted() is a function not a method

Names = ['Rohit Sharma','Virat Kohli','Ajinkya Rahane','Suresh Raina','Abhishek Sharma']

fname = []
lname = []

for i in Names:
  fname.append(i.split()[0])
  lname.append(i.split()[1])

print(fname)
print(lname)

['Rohit', 'Virat', 'Ajinkya', 'Suresh', 'Abhishek']
['Sharma', 'Kohli', 'Rahane', 'Raina', 'Sharma']